body {
    font-family: 'Roboto', sans-serif;
}

.icon-block {
    background-color: rgb(193, 223, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-icons i {
    font-size: 2em;
    color: #007BFF;
    padding-bottom: 15px;
}

.extra-info {
    font-size: 1.2em;
    line-height: 1.2em;
    padding-bottom: 10px;
}

/* footer */

.footer-links li {
    list-style-type: none;
}

.footer-links i {
    color: #D8D8D8;
}

/* Navigation menu */

nav a {
    font-size: 0.875em;
}

.navbar-custom > li{
  margin-left: 10px;
  margin-right: 10px;
}

.primary-link {
    background-color: #007BFF;
    border-radius: 5px;
}

.primary-link-txt {
    color: rgb(255, 255, 255);
}

.secondary-link {
    border: 1px solid rgb(176, 186, 197);
    border-radius: 5px;
    /* padding: 8px 15px 8px 15px; */
}

.secondary-link-txt {
    color: #007BFF;
}

.username-link {
    background-color:#007BFF;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
}

/* public cards page */

.job-title {
    font-size: 1.4em;
}

.industry-title {
    font-style: italic;
}

/* persona card */

.persona-full {
    /* border: 2px solid #007BFF;
    border-radius: 10px; */
}

.persona-image {
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 5px solid #007BFF;
  -webkit-box-shadow: -9px 10px 42px -24px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 10px 42px -24px rgba(0,0,0,0.75);
box-shadow: -9px 10px 42px -24px rgba(0,0,0,0.75);
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 300px;
}

/* create a persona */

.form-group {
    padding-top: 20px;
}

.form-group i {
    color: #007BFF;
    margin-right: 10px;
    font-size: 1.2em;
}

.form-group label {
    font-weight: 500;
}

/* media queries */

@media only screen and (max-width: 768px) { 
    .icon-box {
        padding: 20px 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}