.hero-image {
    background: url("../img/hero-image.jpg") center no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
}

.icon-block {
    background-color: antiquewhite;
}

.home-icons i {
    font-size: 3em;
    color: #007BFF;
}