{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Create a Persona</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form method="POST" action="{{ url_for('add_persona') }}">
        <div class="form-group">
          <label for="fname">Full name</label>
          <input
            type="text"
            class="form-control"
            id="fname" name="fname"
            placeholder="Full name"
          />
        </div>
        <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" type="number" id="age" name="age">
        </div>
        <div class="form-group">
        <label for="goals">Bio</label>
          <textarea
            class="form-control"
            name="bio"
            id="bio"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="occupation">Select Occupation</label>
          <select class="form-control" id="occupation" name="occupation">
            <option selected>Please select...</option>
            {% for job in occupation %}
            <option>{{ job.occupation_title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="industry">Select Industry</label>
          <select class="form-control" id="industry" name="industry">
          <option selected>Please select...</option>
            {% for sector in industry %}
            <option>{{ sector.industry_title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="goals">Goals</label>
          <textarea
            class="form-control"
            name="goals"
            id="goals"
            rows="2"
          ></textarea>
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-primary">Remove</button>
        </div>
        <div class="form-group">
          <label for="frustrations">Frustrations</label>
          <textarea
            class="form-control"
            id="frustrations"
            name="frustrations"
            rows="2"
          ></textarea>
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-primary">Remove</button>
        </div>

        <button type="submit" class="btn btn-primary">Create Persona</button>
        <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="make_public" name="make_public">
      <label class="form-check-label" for="make_public">
        Make persona publicly available
      </label>
    </div>
  </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
