{% extends 'base.html' %} {% block content %}
<section>
  <div class="container mt-5 pb-5 pt-5">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="">Edit User Persona</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 text-center">
        <p>
          Edit the selected user persona using the form below.
        </p>
        <p>
          When you have completed editing your user persona, click the 'Update
          Persona' button.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-3 mb-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <form
          method="POST"
          action="{{ url_for('update_persona', persona_id=persona._id) }}"
        >
          <div class="form-group">
            <label for="fname"><i class="fas fa-user-alt"></i>User Persona Name *</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              name="fname"
              placeholder="Full name"
              value="{{ persona.name }}"
            />
          </div>
          <div class="form-group">
            <label for="age"><i class="fas fa-address-card"></i>User Persona Age *</label>
            <input
              class="form-control"
              type="number"
              id="age"
              name="age"
              value="{{ persona.age }}"
            />
          </div>
          <div class="form-group">
            <label for="goals"><i class="fas fa-book"></i>User Persona Bio *</label>
            <textarea
              class="form-control"
              name="bio"
              type="text"
              id="bio"
              rows="3"
            >
{{ persona.bio }}</textarea
            >
          </div>
          <div class="form-group">
            <label for="basic-url"><i class="fas fa-image"></i>User Persona Profile Image (optional)</label>
            <small>We recommend using an image from Pexels or Unsplash</small>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="profile-image"
                  >https://example.com/</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                name="profile"
                value="{{ persona.profile }}"
                id="basic-url"
                aria-describedby="basic-addon3"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="occupation"><i class="fas fa-building"></i>User Persona Occupation *</label>
            <select class="form-control" id="occupation" name="occupation">
              <option selected>Please select...</option>
              {% for job in occupation %} {% if persona.occupation_title ==
              job['_id'] %}
              <option value="{{ job['occupation_title'] }}" selected
                >{{ job['occupation_title'] }}</option
              >
              {% else %}
              <option value="{{ job.occupation_title }}"
                >{{ job.occupation_title }}</option
              >
              {% endif %} {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="sector"><i class="fas fa-store"></i>User Persona Industry *</label>
            <select class="form-control" id="sector" name="industry">
              <option selected>Please select...</option>
              {% for sector in industry %} {% if persona.industry_title ==
              sector['_id'] %}
              <option value="{{ sector['industry_title'] }}" selected
                >{{ sector['industry_title'] }}</option
              >
              {% else %}
              <option value="{{ sector.industry_title }}"
                >{{ sector.industry_title }}</option
              >
              {% endif %} {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="goal-one"><i class="fas fa-smile"></i>User Persona Goal 1</label>
            <input
              class="form-control mb-3"
              name="goal-one"
              id="goal-one"
              value="{{ persona.goals[0] }}"
              required
            >
          </div>
          <div class="form-group">
            <label for="goal-two"><i class="fas fa-smile"></i>User Persona Goal 2</label>
            <input
              class="form-control mb-3"
              name="goal-two"
              id="goal-two"
              value="{{ persona.goals[1] }}"
              required
            >
          </div>
          <div class="form-group">
            <label for="goal-three"><i class="fas fa-smile"></i>User Persona Goal 3</label>
            <input
              class="form-control mb-3"
              name="goal-three"
              id="goal-three"
              value="{{ persona.goals[2] }}"
              required
            >
          </div>
          <div class="form-group">
            <label for="frustrations-one"><i class="fas fa-angry"></i>User Persona Frustration 1</label>
            <input
              class="form-control mb-3"
              id="frustrations-one"
              name="frustrations-one"
              value="{{ persona.frustrations[0] }}"
              required
            >
            </div>
            <div class="form-group">
            <label for="frustrations-two"><i class="fas fa-angry"></i>User Persona Frustration 2</label>
            <input
              class="form-control mb-3"
              id="frustrations-two"
              name="frustrations-two"
              value="{{ persona.frustrations[1] }}"
              required
            >
            </div>
            <div class="form-group">
            <label for="frustrations-three"><i class="fas fa-angry"></i>User Persona Frustration 3</label>
            <input
              class="form-control mb-3"
              id="frustrations-three"
              name="frustrations-three"
              value="{{ persona.frustrations[2] }}"
              required
            >
            </div>
            <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="publicRadio"
                value="public"
              />
              <label class="form-check-label" for="publicRadio">
                Public
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                id="privateRadio"
                value="private"
                checked
              />
              <label class="form-check-label" for="privateRadio">
                Private
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update Persona</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}