{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Edit Persona</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form method="POST" action="{{ url_for('update_persona', persona_id=persona._id) }}">
        <div class="form-group">
          <label for="fname">Full name</label>
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="Full name"
            value="{{ persona.name }}"
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            class="form-control"
            type="number"
            id="age"
            name="age"
            value="{{ persona.age }}"
          />
        </div>
        <div class="form-group">
          <label for="goals">Bio</label>
          <textarea
            class="form-control"
            name="bio"
            id="bio"
            rows="3"
            value="{{ persona.bio }}"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="occupation">Select Occupation</label>
          <select class="form-control" id="occupation" name="occupation">
            <option selected>Please select...</option>
            {% for job in occupation %} {% if job.occupation_title ==
            persona.occupation_title %}
            <option value="{{ job.occupation_title }}" selected
              >{{ job.occupation_title }}</option
            >
            {% else %}
            <option value="{{ job.occupation_title }}"
              >{{ job.occupation_title }}</option
            >
            {% endif %} {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="sector">Select Industry</label>
          <select class="form-control" id="sector" name="sector">
            <option selected>Please select...</option>
            {% for sector in industry %} 
                {% if sector.industry_title == persona.industry_title %}
                    <option value="{{ sector.industry_title }}" selected >{{ sector.industry_title }}</option>
            {% else %}
            <option value="{{ sector.industry_title }}">{{ sector.industry_title }}</option>
            {% endif %} 
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="goals">Goals</label>
          <textarea
            class="form-control"
            name="goals"
            id="goals"
            rows="2"
          ></textarea>
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-primary">Remove</button>
        </div>
        <div class="form-group">
          <label for="frustrations">Frustrations</label>
          <textarea
            class="form-control"
            id="frustrations"
            name="frustrations"
            rows="2"
          ></textarea>
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-primary">Remove</button>
        </div>

        <button type="submit" class="btn btn-primary">Update Persona</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
