{% extends 'base.html' %} {% block content %}
<!-- information section -->
<div class="container mt-5">
  <div class="row">
  <div class="col-sm-12">
    <h1>User Personas hot tips</h1>
    <p>Tips and tricks on creating simple, accurate user personas.</p>
    </div>
  </div>
</div>
<!-- hot tips content -->
<section class="container article-content mt-5">
  <div class="row post mt-5 mb-5">
    <div class="col-sm-12">
      <h3>Personas Make Users Memorable for Product Team Members</h3>
      <p>Summary: When based on user research, personas support user-centered design throughout a project’s lifecycle by making characteristics of key user segments more salient.</p>
      <a
        class="btn btn-primary"
        href="https://www.nngroup.com/articles/persona/"
        target="_blank"
        role="button"
        >Read more</a
      >
    </div>
  </div>
  <div class="row post mt-5 mb-5">
    <div class="col-sm-12">
      <h3>Are Your Personas Outdated? Know When It’s Right To Revise</h3>
      <p>Summary: Up-to-date personas result in a better UX design process. Data from 156 companies provide a baseline to understand how often to revise personas. Knowing when and how frequently to make updates will help you craft personas that are both accurate and effective.</p>
      <a
        class="btn btn-primary"
        href="https://www.nngroup.com/articles/revising-personas/"
        target="_blank"
        role="button"
        >Read more</a
      >
    </div>
  </div>
</section>




{% endblock content %}