{% extends 'base.html' %} {% block content %}
<!-- message flashing -->
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="container mt-2" id="alert-message">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success alert-dismissible show fade" role="alert">
        {{ message}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% endwith %}
<!-- hero block -->
<section class="container hero-image d-flex align-items-center">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 align-self-center main-title">
      <div class="title-box"><h1>Welcome to Personafy</h1>
      <p>Create custom user personas in minutes.</p>
      <a
      class="btn btn-primary"
      href="{{url_for('public_personas')}}"
      role="button"
      >Explore personas</a
      ></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 main-image">
    <img src="{{url_for('static', filename='img/hero-image.png') }}" height="500" class="img-fluid" alt="">
    </div>
  </div>
</section>

<!-- website information block -->
<section class="container site-info text-center pt-5 pb-5">
  <div class="row">
    <div class="col-sm-12">
      <h2>What is Personafy?</h2>
      <p class="mt-3">
        Personafy is a community driven website where users can create user
        personas for personal and professional use in your next website project. Browse pre-built user personas for inspiration or create your own and add to the expanding user persona collection.
      </p>
    </div>
  </div>
</section>
<!-- icon block -->
<section class="icon-block">
  <div class="container pt-5 pb-5 text-center">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="icon-box">
        <span class="home-icons"><i class="fas fa-search-plus"></i></span>
        <h4 class="extra-info">View pre-built user personas</h4>
        <a href="{{url_for('public_personas')}}" class="btn btn-light">View personas</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
      <div class="icon-box">
        <span class="home-icons"><i class="fas fa-user-plus"></i></span>
        <h4 class="extra-info">Sign up and create your own</h4>
        <a href="{{url_for('register')}}" class="btn btn-light">Sign up</a>
      </div>
      </div>
      <div class="col-sm-12 col-md-4">
      <div class="icon-box">
        <span class="home-icons"><i class="fas fa-graduation-cap"></i></span>
        <h4 class="extra-info">Learn how to create a user persona</h4>
        <a href="{{url_for('hot_tips')}}" class="btn btn-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
