{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      {% if 'username' in session %}
      <h2 class="text-center">{{ session['username'] }}'s Personas</h2>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    {% for persona in personas %} {% if persona.creator == session['username']
    %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="image-wrap">
            <div class="card-image" style="background-image: url({{persona.profile}})">
            </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{persona.name}} - {{persona.age}}</h5>
          <h6 class="card-text job-title">
            {% for occ in occupation %}
             {% if persona.occupation_title == occ["_id"] %}
            {{occ['occupation_title']}}
            {% endif %}
            {% endfor %}
          </h6>
          <p class="card-text industry-title">
           {% for ind in industry %}
             {% if persona.industry_title == ind["_id"] %}
            {{ind['industry_title']}} industry
            {% endif %}
            {% endfor %}
          </p>
          <a
            href="{{ url_for('view_persona', persona_id=persona._id)}}"
            class="btn btn-primary"
            >View Persona</a
          >
        </div>
      </div>
    </div>
   {% endif %} {% endfor %}
  </div>
</div>

{% endblock %}
