{% extends 'base.html' %} {% block content %}

<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h2>User Persona: {{persona.name}}</h2>
    </div>
  </div>
</div>

<div class="container persona-full pt-5">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div
        class="persona-image"
        style="background-image: url({{persona.profile}})"
      ></div>
      <h5 class="mt-3">{{persona.name}}</h5>
      <h6>Occupation: {{persona.occupation_title}}</h6>
      <h6>Industry: {{persona.industry_title}}</h6>
      <p>{{persona.age}}</p>
      <a href="#" id="print-btn" class="btn btn-primary">Print</a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <h6>About {{ persona.name }}</h6>
      <p>{{persona.bio}}</p>
      <h6>Goals</h6>
      <p>{{persona.goals}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <h6>Frustrations</h6>
      <p>{{persona.frustrations}}</p>
    </div>
  </div>
</div>

{% endblock content %}
