{% extends 'base.html' %} {% block content %}


    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card">
          <img class="card-img-top" src="..." alt="Persona image" />
          <div class="card-body">
            <h5 class="card-title">{{persona.name}}</h5>
            <p class="card-text">
              {{persona.age}} {{persona.gender}}
            </p>
            <a
            href="#"
            id="print-btn"
            class="btn btn-primary"
            >Print</a
          >
          </div>
        </div>
    </div>
  
{% endblock content %}
