{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
  <div class="col-sm-12">
    <h2>Example User Personas</h2>
    <p>A curated collection of user personas for inspiration and references.
    </br>All personas are built by Personafy's fantastic community of creators</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    {% for persona in personas %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="image-wrap">
            <div class="card-image" style="background-image: url({{persona.profile}})">
            </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{persona.name}} - {{persona.age}}</h5>
          <p class="card-text">
            {{persona.industry_title}}
          </p>
          <a
            href="{{ url_for('view_persona', persona_id=persona._id)}}"
            class="btn btn-primary"
            >View Persona</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
